.common {
    background-color: beige;
    border: 3px solid navy;
    position: absolute;
}
.header {
    top: 1px;
    left: 1px;
    right: 1px;
    height: 150px;
}
.footer {
    top: 3100px;
    left: 1px;
    right: 1px;
    height: 100px;
}
.body {
    top: 150px;
    left: 1px;
    right: 1px;
    height: 2950px;
}